<iframe
 width="1" 
 height="1" 
 src="https://www.youtube.com/embed/v26_pOpZDw0?autoplay=1" 
 title="ONE HOUR OF SNAKE JAZZ RADIO (lyrics)" 
 frameborder="0" 
 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="flex white m-10" >
    <div class="flex black m-10">
        <div class="flex row justify-center align-center purple m-10">
            <button
             class="start" 
             (click)="onStart()" 
             >Play</button>
            <button 
            class="stop" 
            (click)="onStop()" 
            >Stop</button>
        </div>
        
    </div>
    
</div>
<h2 class="text-white font-large">{{xX}}</h2>
<hr>